/* Efecto hover */
.section_5 .container_1 .container_btn button:hover {
    /*  background: #33cc99; Fondo verde al pasar el mouse */
    color: black; /* Texto blanco */
    border-color: #33cc99; /* Borde del mismo color que el fondo */
  }
  .container_btn {
    display: inline-block;
  }
  
  .btn-persiana {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #fff; /* Fondo blanco inicial */
    color: #242424; /* Texto oscuro */
    border: 2px solid rgba(51, 204, 153, 0.5);
    border-radius: 6px;
    font-size: 20px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    padding: 10px 20px;
    cursor: pointer;
    overflow: hidden; /* Oculta los elementos fuera del botón */
  }
  
  /* Texto original */
  .text-original {
    position: relative;
    transition: transform 0.3s ease; /* Animación del movimiento */
    z-index: 2; /* Asegura que esté visible inicialmente */
  }
  
  /* La persiana verde con el nuevo texto */
  .btn-persiana::before {
    content: "Contactar"; /* Texto verde que aparece */
    position: absolute;
    top: 100%; /* Inicialmente fuera del botón */
    left: 0;
    width: 100%;
    height: 100%;
    background: #33cc99; /* Fondo verde */
    color: white; /* Texto blanco */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    transition: top 0.3s ease; /* Suaviza el deslizamiento de la persiana */
    z-index: 1; /* Aparece debajo del texto original inicialmente */
  }
  
  /* Efecto hover */
  .btn-persiana:hover .text-original {
    transform: translateY(-150%); /* Mueve el texto original hacia arriba */
  }
  
  .btn-persiana:hover::before {
    top: 0; /* Desliza la persiana verde hacia abajo */
    z-index: 2; /* Asegura que el nuevo texto esté encima después de la animación */
  }