/* ESTILOS GENERALES */
html {
  font-family: Inter;
  min-width: 360px;
  flex-direction: column;
  align-items: center;
  background: #fff;
  height: 100%;
  width: 100vw;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

.hb {
  display: -webkit-box;
  flex: 1 0 0;
  color: #fff;
  text-overflow: ellipsis;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.h1 {
  color: #fff;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
}

/* BARRA DE NAVEGACIÓN Y MENÚ */

.navbar {
  height: 50px;
  position: fixed;
  box-sizing: border-box;
  left: 5%;
  transition: all 0.5s ease;
  z-index: 100;
  border-radius: 12px;
  margin: 30px auto 0px auto;
}

.navbar--show {
  height: 100%;
  background: radial-gradient(
    231% 135.8% at 0.9% 2.98%,
    rgba(83, 201, 203, 0.2) 0%,
    rgb(0 255 170 / 30%) 100%
  );
  transition: all 0.5s ease;
  margin: 0;
  left: 0;
  width: 100%;
  padding-top: 30px;
  padding-left: 5%;
  padding-right: 5%;
  backdrop-filter: blur(20px);
  border-radius: 0;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  /* transition: all 0.5s ease; */
  width: 100%;
  box-sizing: border-box;
}

.logooctopush {
  display: flex;
  height: 34.424px;
  justify-content: center;
  align-items: center;
  gap: 2.754px;
  transition: all 0.5s ease;
}

.inline_objects {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 12px;
  align-items: center;
  z-index: 200;
}

.close-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: transform 0.5s ease, opacity 0.5s ease;
  cursor: pointer;
}
.open-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: transform 0.5s ease, opacity 0.5s ease;
  color: var(--Tipografia, #242424);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  width: 76px;
  padding: 0px 11px;
  align-items: center;
  gap: 14px;
  cursor: pointer;
}

.menu {
  z-index: 2;
  width: 54px;
  font-size: 20px;
  font-weight: 500;
  padding: 13px;
  cursor: pointer;
  margin-right: 0px;
}

.close-menu {
  z-index: 1;
  transform: translateX(150%);
  position: absolute;
}

.open-menu--show {
  z-index: 1;
  transform: translateX(-150%);
}

.close-menu--show {
  z-index: 104;
  transform: translateX(0);
}

.inline_objects.show {
  padding-top: 30px;
  padding-right: 16px;
  padding-left: 16px;
  box-sizing: border-box;
  cursor: pointer;
}

.dropdown-menu {
  clip-path: inset(0 0 100% 0);
  transition: clip-path 0.5s ease;
  position: absolute;
  right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 33px;
  height: 80vh;
  top: 10vh;
  z-index: 200;
  position: fixed;
}

.chico {
  font-size: 20px !important;
  color: #000 !important;
  font-weight: 500 !important;
}
.chicox {
  padding: 13px !important;
}
.dropdown-menu--show {
  clip-path: inset(0 0 0 0); /* Se muestra completamente */
  transition: clip-path 0.5s ease; /* Suaviza la revelación */
}

.dropdown-menu a {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  color: #528070; /* Color de relleno */
}

.dropdown-menu button {
  border-radius: 6px;
  border: 2px solid rgba(51, 204, 153, 0.5);
  background: #fff;
  height: 50px;
  flex-direction: column;
  font-size: 20px;
  cursor: pointer;
  transition: background-position 0.5s ease-out;
  background-size: 100% 200%; /* Duplicamos el tamaño vertical del fondo */
  background-position: 0 100%; /* Comienza desde abajo */
  clip-path: inset(0 0 0 0); /* Oculto inicialmente */
  transition: clip-path 0.5s ease; /* Suaviza la revelación */
}

.content {
  margin-top: 70px;
  padding: 20px;
}

.flex-join {
  position: relative;
  width: 77px;
  height: 50px;
  overflow: hidden;
}

/* SECTION-1 */

.section_1 {
  display: flex;
  height: 832px;
  padding: 210px 16px 345px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  box-sizing: border-box;
}

.section_1-titulo_1 {
  color: #242424;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  width: 328px;
}

.section_1-titulo_2 {
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  width: 328px;
  background: linear-gradient(180deg, #53c9cb 0%, #3c9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* SECCION 2 */

.section_2 {
  display: flex;
  padding: 20px 16px 50px 16px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  align-self: stretch;
  background: #242424;
  box-sizing: border-box;
  min-width: 360px;
}

.section_2-presentacion {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: stretch;
  padding-top: 55px;
}

.section_2-presentacion img {
  position: absolute;
  top: 800px;
  width: 220px;
  z-index: 0;
}

.section_2-presentacion-texto_1 {
  align-self: stretch;
  color: #53c9cb;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  z-index: 1;
}

.section_2-presentacion-texto_2 {
  display: -webkit-box;
  align-self: stretch;
  overflow: hidden;
  color: var(--Primario-Azul, #53c9cb);
  text-overflow: ellipsis;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 1;
}

.section_2-trabajos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  gap: 16px;
}

.section_2-trabajos .section_2-trabajos-trabajo {
  position: relative;
  display: flex;
  border-radius: 10px;
  width: 100%;
  height: 174px;
  transition: all 0.8s ease;
  background-color: #fc886d;
  overflow: hidden;
}

.section_2-trabajos .section_2-trabajos-trabajo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/img/trabajo.png");
  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease;
  transform: scale(1);
  border-radius: 10px;
}

.section_2-trabajos .section_2-trabajos-trabajo:hover::before {
  transform: scale(0.95, 0.9);
}

.section_3 {
  display: flex;
  padding: 110px 16px 50px 16px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  background: #ffffff;
}

.section_3 .titulo {
  align-self: stretch;
  color: #000;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  text-align: right;
  padding-left: 20%;
}

.servicio {
  display: flex;
  width: 100%;
  padding: 16px 10px;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 10px;
  flex-direction: column;
  view-timeline-name: --servicio;
  view-timeline-axis: block;
  animation-timeline: --servicio;
  animation-range: entry 0% cover 40%;
  box-sizing: border-box;
}

.section_3 .servicio .nombre_servicio {
  color: #fff;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

#servicio_1 {
  background: var(--Secundario--, #fc886d);
  animation-name: showizq;
}

#servicio_2 {
  background: var(--Primario-Verde, #3c9);
  animation-name: showder;
}

#servicio_3 {
  background: var(--Primario-Azul, #53c9cb);
  animation-name: showizq;
}

@keyframes showizq {
  from {
    transform: translateX(-400px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes showder {
  from {
    transform: translateX(400px);
  }
  to {
    transform: translateX(0);
  }
}

/* Controla Texto Hero */
.efecto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.efecto-bounce {
  animation: bounce 10s infinite; /* Controla la duración y repetición del rebote */
}

.efecto-bounce h1 {
  margin: 0;
  font-size: 50px;
  line-height: 1.2;
  font-weight: 700;
  color: #000000;
}

.text-container {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  transition: height 0.3s ease-in-out;
  height: 58px;
}

.text-slide {
  display: flex;
  flex-direction: column;
  animation: slide 13s infinite;
}

.highlight-text {
  color: #53c9cb;
  font-size: 50px;
  line-height: 58px;
  margin: 0;
  transition: opacity 0.5s ease-in-out;
  font-weight: 600;
}

.container {
  position: relative;
  top: 0px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 728px;
}

/* Animación de deslizamiento hacia arriba con efecto bounce */
@keyframes slide {
  0%,
  25% {
    transform: translateY(0);
  }
  33%,
  58% {
    transform: translateY(-116.3px);
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }
  66%,
  91% {
    transform: translateY(-174.9px);
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }
}

/* SECCIÓN 4 */

.section_4 {
  height: 1037px;
  background-color: #f15a24;
  display: flex;
  min-width: 360px;
  padding: 110px 0px 50px 0px;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  align-self: stretch;
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
  right: 0;
}

.section_4 .container_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

.section_4 .container_1 .container_titulo {
  display: flex;
  align-items: center;
  gap: 15px;
  align-self: stretch;
  height: 57px;
  white-space: nowrap;
  overflow: hidden;
}

.section_4 .container_1 .container_fotos {
  position: relative;
  height: 582px;
}

.section_4 .container_1 .container_fotos .container_foto {
  width: 234px;
  height: 234px;
  flex-shrink: 0;
  background: url(<path-to-image>) cover no-repeat;
}

.section_4 .container_1 .container_fotos .container_1 img {
  position: absolute;
  right: 60px;
  top: 0;
  background-color: transparent;
}

.section_4 .container_1 .container_fotos .container_1 div {
  position: absolute;
  right: -30px;
  top: 100px;
  background-color: #fc886d;
  padding: 10px;
  gap: 10px;
}

.section_4 .container_1 .container_fotos .container_1 div p {
  margin: 0;
}

.section_4 .container_1 .container_fotos .container_2 img {
  position: absolute;
  right: -30px;
  top: 180px;
  background-color: transparent;
}

.section_4 .container_1 .container_fotos .container_2 div {
  position: absolute;
  right: 150px;
  top: 275px;
  background-color: #fc886d;
  padding: 10px;
  gap: 10px;
}

.section_4 .container_1 .container_fotos .container_2 div p {
  margin: 0;
}

.section_4 .container_1 .container_fotos .container_3 img {
  position: absolute;
  right: 60px;
  top: 360px;
  background-color: transparent;
}

.section_4 .container_1 .container_fotos .container_3 div {
  position: absolute;
  right: -30px;
  top: 450px;
  background-color: #fc886d;
  padding: 10px;
  gap: 10px;
}

.section_4 .container_1 .container_fotos .container_3 div p {
  margin: 0;
}

.section_4 .container_2 {
  display: flex;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

/* SECCION 5 */

.section_5 {
  display: flex;
  padding: 233px 16px 168px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.section_5 .container_1 {
  max-width: 328px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 35px;
}

.section_5 .container_1 .h1 {
  color: #000;
  margin: 0;
}

.section_5 .container_1 .container_btn {
  display: flex;
  width: 100%;
  justify-content: center;
}

.section_5 .container_1 .container_btn button {
  height: 50px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  border: 2px solid rgba(51, 204, 153, 0.5);
  background: #fff;
  color: var(--Tipografia, #242424);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

/* Efecto hover */
.section_5 .container_1 .container_btn button:hover {
  /*  background: #33cc99; Fondo verde al pasar el mouse */
  color: black; /* Texto blanco */
  border-color: #33cc99; /* Borde del mismo color que el fondo */
}
.container_btn {
  display: inline-block;
}

.btn-persiana {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #fff; /* Fondo blanco inicial */
  color: #242424; /* Texto oscuro */
  border: 2px solid rgba(51, 204, 153, 0.5);
  border-radius: 6px;
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  padding: 10px 20px;
  cursor: pointer;
  overflow: hidden; /* Oculta los elementos fuera del botón */
}

/* Texto original */
.text-original {
  position: relative;
  transition: transform 0.3s ease; /* Animación del movimiento */
  z-index: 2; /* Asegura que esté visible inicialmente */
}

/* La persiana verde con el nuevo texto */
.btn-persiana::before {
  content: "Contactar"; /* Texto verde que aparece */
  position: absolute;
  top: 100%; /* Inicialmente fuera del botón */
  left: 0;
  width: 100%;
  height: 100%;
  background: #33cc99; /* Fondo verde */
  color: white; /* Texto blanco */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  transition: top 0.3s ease; /* Suaviza el deslizamiento de la persiana */
  z-index: 1; /* Aparece debajo del texto original inicialmente */
}

/* Efecto hover */
.btn-persiana:hover .text-original {
  transform: translateY(-150%); /* Mueve el texto original hacia arriba */
}

.btn-persiana:hover::before {
  top: 0; /* Desliza la persiana verde hacia abajo */
  z-index: 2; /* Asegura que el nuevo texto esté encima después de la animación */
}

/* FOOTER */

.footer {
  display: flex;
  min-width: 360px;
  padding: 22px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background-color: #3c9;
}

.footer .container_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.footer .container_1 div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 13px;
}

.footer .container_1 a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.footer .container_1 a p {
  color: var(--Tipografia, #242424);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: none;
}

.footer .container_1 a img {
  padding: 0 15px;
}

.footer .container_1 .flecha-link {
  display: none;
}

.footer .container_2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.footer .container_2 img {
  width: 47vw; 
  /* height: auto;  */
}

@media (min-width: 620px) {
  
  /* ANIMACION INCIAL */
  .efecto-bounce h1 {
    font-size: 84.604px;
  }
  
  .highlight-text {
    font-size: 84.604px;
  }

  /* SOMOS OCTOPUSH */
  .section_2-trabajos .section_2-trabajos-trabajo {
    max-width: 556px;
    height: 293.544px;
  }
  
  /* NUESTROS SERVICIOS */
  .servicio {
    padding: 25px 23px;
    display: flex;
  }

  #servicio_3{
    align-items: end;
  }

  #servicio_1{
    align-items: end;
  }

  .servicio div{
    max-width: 540px;
  }

  /* FOOTER */
  .footer .container_1 a p {
    display: block;
  }
  
  .footer .container_1 .flecha-link {
    display: block;
  }
}

@media (min-width: 824px) {
  .efecto-bounce h1 {
    font-size: 96px;
  }
  .highlight-text {
    font-size: 96px;
  }
  .section_5 .container_1{
    max-width: 833px;
  }
  .section_5 .container_1 .h1{
    font-size: 96px;
  }
}
