
html{
    font-family: "Roboto", sans-serif;
    height: 100vh;
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main-content {
    margin: 0;
    padding: 0;
    background-color: rgba(241, 245, 253, 1);
}

.container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: x-large;
    padding: 0;
    background-color: rgba(241, 245, 253, 1);
}

.container-login{
    padding:1rem;
    display: flex;
    box-sizing: border-box;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

legend{
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 25px;
}

.input-texto{
    width: 100%;
    margin-top: 25px;
    height: 48px;
    border-radius: 15px;
    font-size: medium;
    font-weight: 400;
    padding-left: 13px;
    background-color: rgba(241, 245, 253, 1);
    border: 2px solid rgba(159, 191, 241, 1);
}

.input-texto[type="text"]:focus {
    outline: none;
    border: 2px solid rgba(66, 100, 215, 1);
    color: rgba(0, 0, 0, 1);
}

#inputContrasena{
    padding-right: 80px;
}

.containerContrasena{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.btn-primario-largo{
    margin-top: 40px;
    width: 100%;
    height: 39px;
    border: none;
    border-radius: 10px;
    font-weight: 400;
    cursor: pointer;
    font-size: 16px;
    background-color: rgba(46, 62, 159, 1);
    color: rgba(239, 239, 239, 1);
    font-weight: 600;
}

.checkbox-cuadrado[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin-top: 20px;
    border-radius: 0;
    background-color:blue;
}

.H7{
    font-size: 16px;
    height: 10px;
    font-weight: 400;
    margin-top: 8px;
}

.containerRecordarme{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.icono-ojo{
    border: none;
    position: fixed;
    display: flex;
    margin-top: 40px;
    cursor: pointer;
    margin-right: 10px;
    background-color: transparent;
}

/* Estilos base */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(223, 233, 250, 1);
    padding: 1rem;
    color: white;
}

.H5 {
    font-weight: 600;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 1);
}

.navbar-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar-links a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

/* Estilos para el botón de hamburguesa */
.toggle-button {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.toggle-button .bar {
    width: 16px;
    height: 2px;
    background-color: rgba(0, 0, 0, 1);
    margin: 2px 0;
    border-radius: 10px;
}

.main{
    height: 100vh;
    background-color: rgba(241, 245, 253, 1);
}

.imagen{
    width: 100%;
    margin: 0;
}

.main_title{
    padding: 0 16px;
    height: 60px;
    margin: 5px 0 10px;
    display: inline-flex;
    width: 100%;
}

.main_title img{
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.title{
    display: flex;
    margin-left: 5px;
    align-items: center;
    font-size: 36px;
    font-weight: 400;
}

.bento{
    display: flex;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 6px 10px rgba(46, 62, 159, 0.25);
    gap: 5px;
    flex-direction: column;
}

.large-simple{
    padding: 15px 27px 25px 27px;
}

.main_bento_container{
    display: flex;
    padding: 0 16px;
    gap: 8px;
    flex-direction: column;
}

h6{
    display: flex;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    display: inline;
    justify-content: center;
    text-align: center;
}

h4{
    margin: 0;
    font-size: 32px;
    font-weight: 400;
    display: inline-block;
}

.large-simple-section-1{
    display: flex;
    width: 100%;
    height: 44px;
    align-items: center;
    justify-content: space-between;
}

.large-simple-section-1 img{
    width: 30px;
}

.large-simple-section-2{
    height: 40px;
}

.bento-short-container{
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: space-between;
}

.short-simple{
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 15px 0 25px 0;
}

.short-profesores{
    width: 50%;
    /* padding: 15px 23px 15px 26px; */
    align-items: center;
    justify-content: start;
    display: flex;
}

.short-profesores .section-1{
    display: flex;
    align-items: start;
    display: inline;
    text-align: center;
    margin-top: 15px;
}

.short-profesores .section-2{
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 15px;
}

.short-profesores .section-2 img{
    display: flex;
    align-items: center;
    border-radius: 100%;
    position: absolute;
}

.short-profesores .section-2 .bento_img-profesor-1{
    width: 34px;
    border: 2px solid white;
    margin-left: -50px;
}

.short-profesores .section-2 .bento_img-profesor-2{
    width: 34px;
    border: 2px solid white;
    margin-left: -25px;
}

.short-profesores .section-2 .bento_img-profesor-3{
    width: 34px;
    border: 2px solid white;
    margin-left:0px;
}

.bento_img-arrow{
    width: 30px;
    margin-left:35px;
}

.large-horarios{
    padding: 15px 25px;
}

.large-horarios .section-3{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    background-color: rgba(165, 90, 185, 1);
    align-items: center;
    justify-content: space-around;
    height: 70px;
}

.large-horarios .section-3 h6{
    color: white;
    font-size: 20px;
}


.large-horarios .bento_img-profesor-1{
    width: 34px;
    height: 34px;
    border-radius: 100%;
    border: 2px solid #853999;
}

.cant-users{
    display: flex;
    background-color: rgba(133, 57, 153, 1);
    width: 45px;
    height: 34px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

/* Estilos responsive */
@media (max-width: 600px) {
    .navbar-links {
        position: absolute;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 256px;
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        transition: left 0.23s ease;
        z-index: 10;
        padding: 15px 15px 0 15px;
        font-weight: 600;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
        text-align: start;
    }

    .close-sidebar{
        height: 44px;
    }

    #close-sidebar{
        transition: ease 0.2s;
        width: 44px;
        height: 44px;
        justify-content: center;
        border-radius: 10px;
    }

    .sidebar-icon{
        height: 34px;
        margin: 5px 10px;
    }

    #close-sidebar:hover{
        transition: ease 0.2s;
        background-color:rgba(46, 62, 159, 0.15);
    }

    .navbar-links li {
        display: flex;
    }

    .navbar-links .linea{
        display: block;
        height: 16px;
        align-items: center;
    }

    .navbar-links li a{
        display: flex;
        align-items: center;
        height: 100%;
    }

    .navbar-links li a p{
        margin-left: 5px;
    }

    .toggle-button {
        display: flex;
    }

}

/* Estilos para el estado activo del menú */
.navbar-links.active {
    left: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 5;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.overlay.active {
    opacity: 1;
    pointer-events: auto;
}