html {
  margin: auto;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: Inter;
}
body {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  padding: 56px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background: #fff;
}

.section2 {
  width: 100%;
  max-width: 700px;
}

.section2__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  width: 100%;
}

.section2__form__container {
  display: inline-block;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  width: 100%;
  position: relative;
}

.section2__form__container label {
  color: var(--Neutral-10, #000);
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.section2__form__container label .description {
  color: var(--Neutral-10, #000);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  opacity: 0.5;
  flex: 1 0 0;
}

.section2__form__container .error {
  color: #c82828;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  display: none;
}

.section2__form__container .error--show {
  display: flex;
}

.section2__form__container input {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  height: 54px;
  padding: 15px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #0f6eff;
  background: #fff;
  color: var(--Neutral-10, #000);
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: all 0.3s ease;
}

.section2__form__container input::placeholder {
  color: var(--Neutral-10, #000);
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  opacity: 0.5;
  flex-shrink: 0;
}

.section2__form__container input:focus {
  border: 2px solid #0f6eff;
}

.section2__form__container .show_password {
  position: absolute;
  margin-top: -35px;
  opacity: 0.5;
  display: flex;
  right: 20px;
}

.section2__form .submit {
  display: flex;
  padding: 15px 10px;
  height: 54px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: #1b72ba;
  width: 100%;
  margin-top: 25px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.section2__form .submit--off {
  background-color: #9ebbd3;
}

.section2__form .submit--on {
  background-color: #1b72ba;
  cursor: pointer;
}
